<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.loan.mapper.MywalletMapper">
	<resultMap type="com.java.loan.model.Mywallet" id="mywallet">
		<id property="wallet_id"        column="wallet_id"/>
		<result property="balance_old"  column="balance_old"/>
		<result property="amount"       column="amount"/>
		<result property="balance_new"  column="balance_new"/>
		<result property="descriptions"  column="descriptions"/>
		<result property="reg_date"     column="reg_date"/>
		<result property="reg_user"     column="reg_user"/>
	</resultMap>
	<!-- *******************************************
		select list wallet from table tblMywallet
	 ********************************************-->
	<select id="myWalletList" resultMap="mywallet">
		SELECT 
			  wallet_id
			, balance_old
			, amount
			, balance_new
			, descriptions
		FROM tblMywallet
	</select>
	<!-- *******************************************************
		select data from table tblMywallet by wallet id to edit 
		*****************************************************-->
	<select id="myWalletRecord" parameterType="int" resultMap="mywallet">
		SELECT 
			*		
		FROM tblMywallet 
		WHERE wallet_id = #{wallet_id}
	</select>
	 <!-- **************************************************************************
	 		get record from table tblMywallet by max wallet id to calculate new balance 
	  *************************************************************************** -->
	<select id="myWalletGetMaxRecord" resultType="mywallet">
		SELECT 
			  * 
		FROM tblMywallet
		WHERE wallet_id = (
							SELECT MAX(wallet_id) AS WALLETID FROM tblMywallet
						   )	
	</select>
	<!-- *************************************************************
		insert new record into tblMywallet 
		***********************************************************-->
	<insert id="myWalletInsert" parameterType="mywallet" keyProperty="wallet_id" useGeneratedKeys="true">
		INSERT INTO 
			tblMywallet(
			   	 balance_old
			   , amount
			   , balance_new
			   , amout_type
			   , descriptions
			   , reg_date
			   , reg_user
			  )
		VALUES(
			     #{balance_old}
			   , #{amount}
			   , #{balance_new}
			   , #{amout_type}
			   , #{descriptions}
			   , #{reg_date}
			   , #{reg_user}
				)
	</insert>
	<!-- *************************************************************
		delete record into tblMywallet 
		***********************************************************-->
	<delete id="myWalletDeleteById" parameterType="int">
		DELETE FROM tblMywallet
		WHERE wallet_id = #{walletId}
	</delete>
</mapper>